{% extends "base.html" %}
{% load auth_extras %}
{% block title %}Liquida 2018{% endblock %}

{% block content %}
<h1>Liquida Teresina 2018</h1>
 <p>Bem vindo a sua conta do Liquida Colaborador. Agora você pode <a href="{% url 'participante:password_change' %}">mudar a sua senha</a>.</p>
    <h1>Participantes</h1>
    <p>
      <a type="button" id="mymodal" class="btn btn-primary btn-lg" data-toggle="modal" href="{% url "participante:register-op" %}">
        Adicionar Participante <span class="glyphicon glyphicon-plus"></span>
      </a>
      <!-- <a type="button" id="mymodal" class="btn btn-secondary btn-lg" data-toggle="modal" href="{% url "participante:search" %}">
        Ver Participantes <span class="glyphicon glyphicon-user"></span>
      </a> -->
      <a type="button" id="mymodal" class="btn btn-info btn-lg" data-toggle="modal" href="{% url "participante:search_by_cpf" %}">
        Buscar participante <span class="glyphicon glyphicon-search"></span>
      </a>
      {% if request.user.is_staff %}
      <a type="button" id="mymodal" class="btn btn-warning btn-lg" data-toggle="modal" href="{% url "lojista:search_by_doc" %}">
        Reimprimir <span class="glyphicon glyphicon-print"></span>
      </a>
      {% endif %}
    </p>

    <h1>Lojistas</h1>
    <p>
      <a type="button" id="mymodal" class="btn btn-primary btn-lg" data-toggle="modal" href="{% url "lojista:register" %}">
        Adicionar Lojistas <span class="glyphicon glyphicon-plus"></span>
      </a>
      <a type="button" id="mymodal" class="btn btn-secondary btn-lg" data-toggle="modal" href="{% url "lojista:search" %}">
        Ver lojistas <span class="glyphicon glyphicon-home">
      </a>
      <a type="button" id="mymodal" class="btn btn-primary btn-lg" data-toggle="modal" href="{% url "lojista:registeratividade" %}">
      Adicionar Ramo de atividade <span class="glyphicon glyphicon-plus"></span>
      </a>
      <a type="button" id="mymodal" class="btn btn-secondary btn-lg" data-toggle="modal" href="{% url "lojista:listatividade" %}">
        Ver Ramos de atividade <span class="glyphicon glyphicon-tag">
      </a>
    </p>
    <h1></h1>
    <p>

    </p>

{% endblock %}
