{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Editar Lojista{% endblock %}

{% block content %}
    <h1>Editar Lojista</h1>
    <p>Por favor, preencha os seguintes dados para editar o perfil do lojista:</p>

    <form action="." method="post" class="form-group">
      <div class="container-fluid col-md-6">
        {% bootstrap_form  lojista_form layout='horizontal' show_help=False %}
      </div>

        {% csrf_token %}
        <p><input type="submit" class="btn btn-primary btn-lg" value="Salvar">
            <a type="button" class="btn" href="{% url 'lojista:homepage' %}">Cancelar</button></p>
    </form>
{% endblock %}
