{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Adicionar documento fiscal{% endblock %}

{% block content %}
    <h1>Novo documento Fiscal</h1>
    <p>Você precisa preencher as seguinter informações referentes ao seu documento fiscal:</p>
    <form action="." method="post" enctype="multipart/form-data" class="form-group">
      <div class="container-fluid col-md-6">
          {% bootstrap_form documentoFiscal_form layout='horizontal' show_help=False exclude='status' %}

        </div>
        {% csrf_token %}
        <p><input type="submit" class="btn btn-primary btn-lg" value="Gravar">
        <a type="button" class="btn" href="{% url 'participante:dashboard' %}">Cancelar</button></p>
    </form>
{% endblock %}
