{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Adicionar documento fiscal{% endblock %}

{% block content %}
    <h1>Adicionar documento fiscal para participante <strong> {{participante.username}} </strong></h1>
    <p>Você precisa preencher as seguinter informações referentes ao documento fiscal:</p>
    <form action="." method="post" enctype="multipart/form-data" class="form-group">
      <div class="container-fluid col-md-6">
          {% bootstrap_form documentoFiscal_form layout='horizontal' show_label=False show_help=False exclude='status, photo, photo2' %}

        </div>
        {% csrf_token %}
        <p><input type="submit" class="btn btn-primary btn-lg" value="Gravar">
        <a type="button" class="btn" href="{% url 'lojista:homepage' %}">Cancelar</button></p>
    </form>
{% endblock %}
