{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
<h1>Buscar pelo documento para reimpressão dos cupons</h1>
<form method="get" class="form-group">
  <div class="container-fluid col-md-3">
      <input type="text" name="q" class="form-control" placeholder="Número do documento">
      <p><input type="submit" class="btn btn-primary btn-lg" value="Buscar">
      <a type="button" class="btn" href="{% url 'lojista:homepage' %}">Voltar</button></p>
    </div>
</form>

{% endblock %}
