{% extends "base.html" %}

{% block title %}Mude a sua senha{% endblock %}

{% block content %}
    <h1>Mude a sua senha</h1>
    <p>Use os seguintes dados abaixo para alterar a sua senha.</p>
    <form action="." method="post">
      <!--{{ form.as_p }}-->
      {{ form.non_field_errors }}
      <div class="fieldWrapper">
          {{ form.old_password.errors }}
          <label for="{{ form.username.id_for_label }}">Senha anterior:</label>
          {{ form.old_password }}
      </div>
      <div class="fieldWrapper">
          {{ form.new_password1.errors }}
          <label for="{{ form.password.id_for_label }}">Nova Senha:</label>
          {{ form.new_password1 }}
      </div>
      <div class="fieldWrapper">
          {{ form.new_password2.errors }}
          <label for="{{ form.password.id_for_label }}">Digite novamente:</label>
          {{ form.new_password2 }}
      </div>
        <p><input type="submit" class="btn btn-primary btn-lg" value="Alterar">
          {% if request.user.is_superuser %}
          <a type="button" class="btn" href="{% url 'lojista:homepage' %}">Cancelar</button></p>
          {% else %}
          <a type="button" class="btn" href="{% url 'participante:dashboard' %}">Cancelar</button></p>
            {% endif %}
        {% csrf_token %}
    </form>
{% endblock %}
