{% extends "base.html" %}

{% block title %}Alterar sua senha{% endblock %}

{% block content %}
    <h1>Alterar sua senha</h1>
    {% if validlink %}
        <p>Por favor insira sua nova senha duas vezes:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" class="btn btn-primary btn-lg" value="Alterar minha senha" /></p>
        </form>
    {% else %}
        <p>Seu link de alteração de senha pode estar invalido, possivelmente porque ele já foi usado. Por favor solicite uma nova alteração de senha.</p>
    {% endif %}
{% endblock %}
